asgiref==3.10.0
attrs==25.4.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2025.10.1
drf-yasg==1.21.11
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==2.15.0
packaging==25.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.28.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
django-extensions==4.1
supabase==2.24.0
networkx==3.3
matplotlib
django_celery_results==2.6.0  
requests==2.32.5
openai==2.8.1
atproto==0.0.63
apify_client==2.3.0
opencv-python
google-generativeai==0.8.5
langchain_core==1.0.5
langgraph==1.0.3
langgraph.checkpoint.postgres==3.0.1
sentence-transformers==5.1.2
langchain-openai==1.0.3
pymilvus==2.6.3
psycopg2-binary==2.9.11
whitenoise==6.11.0
celery==5.5.3
