option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: reelsai.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: reelsai.settings
  aws:elasticbeanstalk:command:
    Timeout: 600
    IgnoreHealthCheck: true
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    HealthCheckTimeout: 10
    HealthCheckInterval: 30
