# Supervisor configuration for Celery worker
# Disabled for initial deployment - enable after confirming app works

# packages:
#   yum:
#     supervisor: []

# files:
#   "/etc/supervisor/conf.d/celery_worker.conf":
#     mode: "000644"
#     owner: root
#     group: root
#     content: |
#       [program:celery_worker]
#       command=/var/app/venv/*/bin/celery -A reelsai worker --loglevel=info
#       directory=/var/app/current
#       user=webapp
#       autostart=true
#       autorestart=true
#       redirect_stderr=true
#       stdout_logfile=/var/log/celery_worker.log
#       stdout_logfile_maxbytes=10MB
#       stdout_logfile_backups=10
#       stopwaitsecs=60
#       killasgroup=true
#       priority=998
      
# container_commands:
#   01_start_supervisor:
#     command: "supervisord -c /etc/supervisor/supervisord.conf"
#     ignoreErrors: true
#   02_reload_supervisor:
#     command: "supervisorctl reread && supervisorctl update"
#     ignoreErrors: true
#   03_start_worker:
#     command: "supervisorctl start celery_worker"
#     ignoreErrors: true
